@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);







#header2-4 H1 {
  color: #fac51c;
  font-family: 'Roboto Slab', serif;
  font-size: 100px;
  text-align: center;
}
#header2-4 P {
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  text-align: center;
}
#header3-6 H3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  color: #252525;
}
#header3-6 P {
  text-align: center;
}
#header2-d H1 {
  text-align: center;
  color: #252525;
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
}
#header2-d P {
  text-align: center;
  color: #252525;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
#header2-f H1 {
  color: #252525;
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
}
#msg-box3-l .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
}
#msg-box3-l .mbr-header .mbr-header__subtext {
  text-align: center;
}


#header2-x H1 {
  text-align: right;
  color: #000000;
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
}
#header2-x P {
  color: #e25041;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
}
